In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import operator
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date'] = pd.to_datetime(data['release_date'])

# добавим дополнительные колонки для аналитики
data['profit'] = data['revenue'] - data['budget'] # прибыль от фильма
data['release_month'] = pd.DatetimeIndex(data['release_date']).month # месяц выхода в прокат

data['genres_list'] = data['genres'].str.split('|') # жанры фильма в виде списка
data['actors_list'] = data['cast'].str.split('|') # актеры фильма в виде списка

In [5]:
# Вспомогательные данные

# перечень всех встречающихся в датасете жанров, студий и актеров (уникальные записи)
genres_set = set([j for sublist in data.genres_list.values for j in sublist])
prod_companies_set = set([j for sublist in data['production_companies'].str.split('|').values for j in sublist])
actors_set = set([j for sublist in data.actors_list.values for j in sublist])

# Средний бюджет фильма
budget_mean_value = data['budget'].mean()

In [6]:
def most_common(lst):
    """Функция для определения самого частого элемента в списке    
    """
    return max(set(lst), key=lst.count)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
data.iloc[data['budget'].idxmax()].original_title

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения
data.sort_values(by='budget', ascending=False).iloc[0].original_title

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [11]:
data.iloc[data['runtime'].idxmax()].original_title

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = 'Winnie the Pooh'

In [13]:
data.iloc[data['runtime'].idxmin()].original_title

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = 110

In [15]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = 107

In [17]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [19]:
answers['6'] = 'Avatar'

In [20]:
data.iloc[data['profit'].idxmax()].original_title

'Avatar'

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = 'The Lone Ranger'

In [22]:
data.iloc[data['profit'].idxmin()].original_title

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = 1478

In [24]:
len(data[data['profit']>0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = 'The Dark Knight'

In [26]:
data.iloc[data.groupby(['release_year'])['revenue'].idxmax()[2008]].original_title

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
answers['10'] = 'The Lone Ranger'

In [28]:
data.iloc[data[data['release_year'].isin([2012,2013,2014])]['profit'].idxmin()].original_title

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [29]:
answers['11'] = 'Drama'

In [30]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

genres_full_list = [j for sublist in data.genres_list.values for j in sublist] 
most_common(genres_full_list)

'Drama'

ВАРИАНТ 2

In [31]:
c = Counter()
genres_full_list = [j for sublist in data.genres_list.values for j in sublist] 
for genre in genres_full_list:
    c[genre] += 1
c.most_common()[0][0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = 'Drama'

In [33]:
# Заведем вспомогательный словарь для хранения названия жанров количества прибыльных фильмов в них
genres_dict = {}

for genre in genres_set:
    genres_dict[genre] = len(data[(data['genres'].str.contains(genre)) & (data['profit']>0)])

# Находим ключ словаря с макимальным значением.
max(genres_dict.items(), key=operator.itemgetter(1))

('Drama', 560)

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [34]:
answers['13'] = 'Peter Jackson'

In [35]:
data.groupby(['director'])['revenue'].sum().idxmax()

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = 'Michael Bay OR Paul W.S. Anderson' #?????? среди ответов викторины нет правильного?

In [37]:
data[(data['genres'].str.contains('Action'))].groupby(['director'])['imdb_id'].count().sort_values(ascending = False)

director
Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      6
Ridley Scott          6
Antoine Fuqua         6
                     ..
Les Mayfield          1
Kurt Wimmer           1
Kevin Smith           1
Kevin Macdonald       1
Adam McKay            1
Name: imdb_id, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = 'Chris Hemsworth'

In [39]:
data.iloc[data[data['release_year'] == 2012]['revenue'].idxmax()].cast

'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = 'Matt Damon'

In [41]:
# Заведем вспомогательный словарь для хранения актеров и количества их высокобюджетных фильмов
actors_dict = {}
for actor in actors_set:
    actors_dict[actor] = len(data[(data['cast'].str.contains(actor)) & (data['budget']>=budget_mean_value)])
# Находим ключ словаря с макимальным значением.
max(actors_dict.items(), key=operator.itemgetter(1))

('Matt Damon', 18)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = 'Action'

In [43]:
#Для подсчета заведем словарь
genres_dict = {}

for genre in genres_set:
    genres_dict[genre] = len(data[(data['genres'].str.contains(genre)) & (data['cast'].str.contains('Nicolas Cage'))])


# max(genres_dict.items(), key=operator.itemgetter(1))[0] # Вот ответ, но лучше давайте посмотрим на весь словарь.

for k in sorted(genres_dict, key=genres_dict.get, reverse=True):
    print(k, genres_dict[k] , sep=': ')

Action: 17
Thriller: 15
Drama: 12
Crime: 10
Fantasy: 8
Adventure: 7
Comedy: 6
Science Fiction: 4
Animation: 3
Mystery: 3
Family: 3
History: 2
War: 1
Romance: 1
Horror: 1
Music: 0
Foreign: 0
Documentary: 0
Western: 0

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = 'K-19: The Widowmaker'

In [45]:
data.iloc[data[data['production_companies'].str.contains('Paramount Pictures')]['profit'].idxmin()]

imdb_id                                                         tt0267626
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                          2002-07-19 00:00:00
vote_average                                                            6
release_year                                                         2002
profit                                                          -64831034
release_month                                                           7
genres_list                                    [Thriller, Drama, History]
actors_list             [Harrison Ford, Liam Neeson, Peter Sarsgaard, ...
Name: 925, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = 2015

In [47]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = 2014

In [49]:
data[data['production_companies'].str.contains('Warner Bros')].groupby('release_year')['profit'].sum().idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = 'Сентябрь'

In [51]:
data.groupby('release_month')['imdb_id'].count().sort_values(ascending = False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '450'

In [53]:
data[data['release_month'].isin([6,7,8])]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = 'Peter Jackson'

In [55]:
data[data['release_month'].isin([1,2,12])].groupby('director')['imdb_id'].count().sort_values(ascending = False)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: imdb_id, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = 'Four By Two Productions'

In [57]:
# Заведем вспомогательный словарь для хранения названия студий и средней длины их тайтлов
company_titles = {}

for company in prod_companies_set:
    company_titles[company] = data[data['production_companies'].str.contains(company)]['original_title'].str.len().mean()
    
# Упорядочим словарь по убыванию длины тайтлов
max(company_titles.items(), key=operator.itemgetter(1))

G:\Conda\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

('Four By Two Productions', 83.0)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = 'Midnight Picture Show'

In [59]:
# Заведем вспомогательный словарь для хранения названия студий и средней длины их тайтлов
company_titles = {}

for company in prod_companies_set:
    company_titles[company] = data[data['production_companies'].str.contains(company)]['overview'] \
    .str.split().str.len().mean()
    
# Упорядочим словарь по убыванию среднего количества слов в тайтле
max(company_titles.items(), key=operator.itemgetter(1))

('Midnight Picture Show', 175.0)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [61]:
data[data['vote_average'] > data['vote_average'].quantile(.99)][['original_title','vote_average']] \
    .sort_values(by = 'vote_average', ascending = False)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [63]:
combos=[]
for i in data['actors_list']:
    for j in combinations(i, 2):
        combos.append(' & '.join(j))
combos = pd.DataFrame(combos)
combos.columns = ['actor_combinations']
combos.actor_combinations.value_counts()

Daniel Radcliffe & Rupert Grint       8
Daniel Radcliffe & Emma Watson        8
Rupert Grint & Emma Watson            7
Ben Stiller & Owen Wilson             6
Johnny Depp & Helena Bonham Carter    6
                                     ..
Steve Carell & Romany Malco           1
Demi Moore & Marg Helgenberger        1
Tom Hanks & Bryan Cranston            1
Richard Armitage & Andy Serkis        1
Will Smith & Mario Van Peebles        1
Name: actor_combinations, Length: 18121, dtype: int64

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Michael Bay OR Paul W.S. Anderson',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27